<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="color: red;">Home de Catalogos</h1>
    <hr>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur vero praesentium error iure repudiandae nostrum harum ipsum sequi debitis sapiente molestiae magnam, sint quaerat ut. Velit voluptas consequatur minima deleniti?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi dolorem facere dolore sed laudantium quaerat numquam pariatur placeat doloribus blanditiis temporibus necessitatibus minima, corporis officia eveniet aspernatur architecto iste omnis?</p>
</body>
</html>